/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color:#2d2d2d;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- fonts -------- */

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Medium.eot');
	src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Medium.woff2') format('woff2'),
		url('FONTS/Raleway-Medium.woff') format('woff'),
		url('FONTS/Raleway-Medium.ttf') format('truetype'),
		url('FONTS/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('FONTS/Raleway-MediumItalic.eot');
	src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
		url('fonts/Raleway-MediumItalic.woff') format('woff'),
		url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
		url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Light.eot');
	src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Light.woff2') format('woff2'),
		url('fonts/Raleway-Light.woff') format('woff'),
		url('fonts/Raleway-Light.ttf') format('truetype'),
		url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-LightItalic.eot');
	src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-LightItalic.woff2') format('woff2'),
		url('fonts/Raleway-LightItalic.woff') format('woff'),
		url('fonts/Raleway-LightItalic.ttf') format('truetype'),
		url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Bold.eot');
	src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Italic.eot');
	src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
		url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-BoldItalic.eot');
	src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
		url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* ------- global styling ------- */



/* ------- mobile styling ------- */



/* ------- desktop styling ------- */

.logo {
    display: flex;
    justify-content: flex-start
    width 250px;
}

.cart {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu li {
  display: inline;
  text-items: center;
  color: red;
}

#collection {
    background:
        url("images/banner-girl.png") center no-repeat, /* foreground image should come first */
        url("images/flower-bkgd.jpg") repeat-x;
    height: 400px;
    position: relative;    
    background-size: contain;
    color: white;
    font-size: 48px;
    font-family: Playfair Display Web, serif;
    font-weight: bold;
    text-transform: none;
}

#sign-up {
    background: url("images/wave-bkgd.jpg");
    background-size: contain;
    height: 350px;
    width: 100%;
}

#style {
    height: 100px;
}

#style h1, p {
    font-family: 'PlayfairDisplay-Italic', sans-serif;
    font-size: 22px;
    text-align: center;
}

#shop {
    text-transform: uppercase;
    font-size: 20px;

}

#shop a {
    color: white
}

/* .product-categories {
    display: flex;

} */

.mens {
    background-image: url("images/mens-category.jpg") no-repeat;
    background-size: contain;
    height: 200px;
    width: 50%;

}
.trends {
    background-image: url("images/trends-category.jpg");
    background-size: contain;
    height: 200px;
    width: 25%;
}
.glasses {
    background-image: url("images/glasses-category.jpg");
    background-size: contain;
    height: 200px;
    width: 25%;
}
.sale {
    background-image: url("images/sale-category.jpg");
    background-size: contain;
    height: 200px;
    width: 25%;
}
.bags {
    background-image: url("images/bags-category.jpg");
    background-size: contain;
    height: 200px;
    width: 25%;
}
.womens {
    background-image: url("images/womens-category.jpg");
    background-size: contain;
    height: 200px;
    width: 50%;
}

* footer {
    background-color: black;
    color: white;
    width: 100%;
}

.social {
    min-width: 25px;
    list-style-type: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
